@import "https://fonts.googleapis.com/css?family=Source+Code+Pro:900";

body {
  font-family: sans-serif;
}

.text-to-canvas h1,
.text-to-canvas h2 {
  /* position: relative; */
  margin: 0 auto;
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  line-height: 2.1rem;
  color: rgba(white, 1);
  display: flex;
  flex-direction: row;
  z-index: 3;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
.text-to-canvas h1 span,
.text-to-canvas h2 span {
  /* position: absolute;*/
  top: 0;
  width: 1.2rem;
  height: 2rem;
  position: absolute;
  left: 180px;
  /* transform: translate(0px, 0px); */
  /* animation: all 1s ease; */
  display: block;
}

.text-to-canvas h1 span {
  /* transform: translate("50px", "50px"); */
  /* position: static; */
}
